<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera/image_color" />
	<arg name="cam_info_topic" default="/camera/camera_info" />
	<arg name="output_frame" default="/camera" />
    <arg name="device" default="0" />

	<arg name="camera_serial" default="0" />
    <arg name="calibrated" default="1" />

	<group ns="camera">
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

      <node pkg="nodelet" type="nodelet" name="camera_nodelet"
            args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
        <param name="frame_id" value="camera" />
        <param name="serial" value="$(arg camera_serial)" />

        <param name="brightness" value="0" />
        <param name="gamma" value="1" />
        <param name="frame_rate" value="27" />

        <param name="exposure" value="0.415" />
        <param name="auto_exposure" value="false" />

        <param name="gain" value="42" />
        <param name="auto_gain" value="false" />

        <param name="auto_shutter" value="false" />
        <param name="shutter_speed" value="0.004058" />

        <param name="camera_info_url" if="$(arg calibrated)"
               value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml" />
      </node>

      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
            args="load image_proc/debayer camera_nodelet_manager">
      </node>
    </group>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
	<node name="rviz" pkg="rviz" type="rviz"/>
</launch>
