h1 {
    font-size: 4em;
}

body {
    text-align: center;
}

.numdisplay {
    font-weight: bold;
}

.statuslight {
    width: 64px;
    height: 64px;
    background: url(redgreen.svg);
    display: inline-block;
    /* transform: scale(.5); */
    background-size: 200%;
}

/* Graphical display elements */

#windVector1 {
    stroke: darkgreen;
    opacity: .9;
    stroke-width: 2;
    stroke-linecap: round;
}

#sailVis {
    stroke:red ;
    stroke-width:6;
    stroke-linecap: round;
}

#rudderVis {
    stroke:blue ;
    stroke-width:6;
}

#localboatmap {
    fill:#0000ff;
    stroke:#000000;
    stroke-width:5;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
}

.statusRow {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}