<launch>
    <include file="$(find oars_pkg)/launch/behaviors.launch"/>

    <!-- Launch Arbiter and Behavior Engine -->
    <node name="arbiter" pkg="oars_arbiter" type="arbiter.py" />
    <!--<node name="behavior_engine" pkg="oars_pkg" type="planner.py"/>-->

    <!--Websocket Rosbridge Server Stuff-->
    <node name="rosbridge_server" pkg="rosbridge_server" type="rosbridge_websocket.py" />
    <node name="gui_server" pkg="oars_pkg" type="runserver.sh" />

</launch>
