<launch>

    <!-- Motor commander to convert cmd_vel to motor powers -->
    <node name="motor_commander" pkg="oars_pkg" type="motor_commander.py">
        <!-- FYI, jankboat is omni -->
        <param name="boat_type" value="omni"/>
    </node>

    <!-- Teensy connection code -->
    <node name="rosserial_wrapper" pkg="oars_pkg" type="rosserial_wrapper.py" />

    <node name="teensy-connector" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_1661530-if00"/>
    </node>

    <!-- USB sensors -->
    <node name="imu_node" pkg="bosch_bno055_driver" type="bno055_node.py" output="screen" respawn="true" respawn_delay="10" >
        <param name="serial_port" value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0" />
        <param name="calibration_file" value="" />
    </node>

    <node name="gps_node" pkg="nmea_navsat_driver" type="nmea_serial_driver">
        <param name="port" value="/dev/serial/by-id/usb-u-blox_AG_-_www.u-blox.com_u-blox_7_-_GPS_GNSS_Receiver-if00" />
    </node>

</launch>
